.MenuItem{
	color: #fff;
	background: #183950;
	margin-top: 2px; 
}

.MenuLink {
	color: #fff;
	text-decoration: none;
	padding: 10px; 
	display: block;
}  

ul.subMenu{
	list-style-type:none; 
	padding: 0px;
}

.subMenuLink:hover, .MenuLink:hover{
	background: #0f4063
}

.subMenu{
	overflow: hidden;
	background: #0e2b3a;
	max-height: 0; 
  
}
 
.subMenu.subMenu_open{ 
	max-height: 1000px;  
}

a.subMenuLink{
	color: #fff;
	text-decoration: none;
	padding: 10px; 
	padding-left: 30px; 
	display: block;
}